@import '../../styles/variables.scss';

.modalBody {
  width: 100%;
  max-width: 560px;
}

.customEventModalContentContainer {
  padding: 0 20px;

  @media (min-width: $breakpoint-sm) {
    padding: 0 40px;
  }

  .modalTitle {
    font-weight: 400;
    font-size: 24px;
    color: $primary-color;
    margin-bottom: 32px;
  }

  .allInputsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: $primary-color;
    font-weight: 500;

    .timesContainer {
      display: flex;
      gap: 20px;
      justify-content: space-between;

      .timeContainer {
        flex: 1;
      }
    }
  }
}

.modalFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: 25px 24px;
}

.switchContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
}

.repeatableDetailsContainer {
  display: flex;
  gap: 20px;

  .repeatableDetailsInputContainer {
    width: 50%;
    flex-basis: 100%;
  }
}
