// Theme olors
$primary-color: #273469;
$primary-dark-color: #1e2749;
$creamy-color: #fafaff;
$grey-color: #30343f;
$pink-color: #e4d9ff;
$light-grey-color: #bfb6d4;

// Other colors
$white-color: #fff;
$modal-backdrop-color: rgba(0, 0, 0, 0.32);
$input-label-color: #273469;

// Breakpoints (mobile-first approach)
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
