@import '../../../styles/variables.scss';

.calendarControllersContainer {
  @media (min-width: $breakpoint-lg) {
    display: flex;
    justify-content: space-between;
  }

  .calendarViewControllers {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 24px;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      gap: 15px;
    }
  }

  .movementControllers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;

    @media (min-width: $breakpoint-md) {
      justify-content: right;
      gap: 20px;
    }

    .calendarTitle {
      font-size: 14px;
      color: $primary-color;
      font-weight: 600;
    }
  }
}
