@import '../../styles/variables.scss';

.modalBody {
  width: 100%;
  max-width: 560px;
}

.exportCalendarModalContentContainer {
  padding: 0 20px;

  @media (min-width: $breakpoint-sm) {
    padding: 0 40px;
  }

  .modalTitle {
    font-weight: 400;
    font-size: 24px;
    color: $primary-color;
    margin-bottom: 32px;
  }

  .allInputsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .dateInputsContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (min-width: 430px) {
        flex-direction: row;
        gap: 20px;
      }

      .dateInputContainer {
        width: 100%;

        @media (min-width: 430px) {
          width: 50%;
        }
      }
    }
  }
}

.modalFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: 25px 24px;
}
