.resetPasswordPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .resetPasswordFormContainer {
    width: 100%;
    max-width: 400px;
    margin-left: 15px;
    margin-right: 15px;

    .title {
      color: #273469;
      font-size: 35px;
      line-height: 32px;
      margin-bottom: 60px;
    }

    .inputContainer {
      .inputLabel {
        color: #273469;
        font-size: 14px;
        margin-top: 16px;
        margin-bottom: 6px;
      }
      .inputField {
        color: #273469;
        height: 40px;
        background-color: #fafaff;
        border-color: #e4d9ff;
      }
    }
  }

  .resetBtn {
    font-size: 12px;
    min-height: 35px;
    height: 44px;
    width: 100%;
    border-radius: 100px;
    margin-top: 50px;
    background-color: #273469;
    color: #fafaff;
  }
}
