@import '../../../styles/variables.scss';

.calendarPageContainer {
  .headerContainer {
    @media (min-width: $breakpoint-md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }

    .textContainer {
      .pageTitle {
        font-size: 32px;
        color: $primary-color;
        line-height: 40px;
      }

      .pageSubtitle {
        font-size: 14px;
        line-height: 20px;
        margin-top: 23px;
        margin-bottom: 24px;
        color: $primary-color;
      }
    }

    .btnContainer {
      display: flex;
      flex-direction: column;
      min-width: 260px;

      @media (min-width: $breakpoint-md) {
        flex-direction: row;
        gap: 10px;
      }

      .calendarBtn {
        margin-bottom: 19px;
        font-weight: 600;
        width: 100%;
        outline: none;
        border: none;

        @media (min-width: $breakpoint-md) {
          width: 142px;
        }
      }

      .exportBtn {
        background-color: $pink-color;
        color: $primary-color;
      }

      .addEventBtn {
        color: $white-color;
        background-color: $primary-color;
      }

      .exportIcon {
        width: 18px;
        height: auto;
      }
    }
  }
}
