@import '../../../../styles/variables.scss';

.userCalendarControllerRoot {
  color: $primary-color;
  font-size: 14px;
  font-weight: 600;

  @media (min-width: $breakpoint-lg) {
    width: 190px;
  }
}
