.locationClassWithIconsConteiner {
  display: flex;
  align-items: center;
  gap: 15px;

  .iconsContainer {
    display: flex;
    align-items: center;
    .icon {
      cursor: pointer;
      width: 37px;
      height: auto;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
